/AccessModifiers.class
/ArrayPractice.class
/Blocks.class
/ConstructorsPractice.class
/ControlStatement.class
/FirstProgarm.class
/JavaLoopsPractice.class
/MethodPractice.class
/StaticKeyword.class
/Student.class
/SwitchCasePractice.class
/Test12.class
/VariableTypes.class
/WhileLoopPractice.class
